.nav__container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.link {
  margin-right: 20px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

.link:hover {
  cursor: pointer;
  border-bottom: 3px solid rgb(106, 106, 236);
}

.active {
  background-color: rgb(240, 14, 14);
  border-bottom: 3px solid rgb(106, 106, 236);
}
/* .link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}

.activeLink {
  composes: link;
  color: #2196f3;
} */
